.bundle
db/*.sqlite3
log/*.log
log/
tmp/**/*
public/system/
public/replace2
public/replace3
public/finished
public/finished2
public/finished*
public/replace*
public/给力2
html/
sql/
doc/
test/
nbproject/
*.komodoproject
*.bak
*.bak2
*.zip
*.tgz
*.bz2
*.gz
config/database.yml
config/smtp_gmail.yml
config/deploy.rb
shared/
*.sql
