.bundle
db/*.sqlite3
log/*.log
log/
tmp/**/*
public/system/
html/
sql/
doc/
test/
nbproject/
*.komodoproject
*.bak
*.bak2
*.zip
*.tgz
*.bz2
*.gz
config/database.yml
config/smtp_gmail.yml
config/deploy.rb
