<% content_for :headmeta do %>
<meta name="Generator" content="给力百货 geilibuy.com " />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<%end%>
<%content_for :headtitle do%>
<title>给力百货 - 创意生活零售平台：在线销售 家居 厨浴 装饰 办公 潮流等创意商品</title>
<%end%>
<% content_for :headstyle do %>
<link href="/themes/default/css/header.css" rel="stylesheet" type="text/css" />
<link href="/themes/default/css/error.css" rel="stylesheet" type="text/css" />
<%end%>
<% content_for :headjs do %>
<script type="text/javascript" src="/themes/default/js/quwan.js" charset="UTF-8"></script> 
<script type="text/javascript" src="/themes/default/js/header.js" charset="UTF-8"></script> 
<%end%>
<% content_for :headother do%>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="icon" href="/animated_favicon.gif" type="image/gif" />
<link rel="alternate" type="application/rss+xml" title="RSS|给力百货 - 创意生活零售平台：在线销售 家居 厨浴 装饰 办公 潮流等创意商品" href="" />
<% end%>
<div id='global_body'>
  <br/>
    <div class="tipline tipline1"><div class="ok_title ok_title1">恭喜你，<b style="color:#C00;">支付成功！</b>请选择下一步操作</div>  
    <table width="100%" border="0" cellpadding="0" cellspacing="0">

          <tr>
            <td height="60" align="right" valign="middle"><a href="/"><img style=" margin-top:0px;" src="/themes/default/imgs/flow/backto_btn.gif" width="129" height="37" /></a>&nbsp;&nbsp;</td>
            <td align="left" valign="middle">&nbsp;&nbsp;<a href="/usercenter/order_list"><img style=" margin-top:0px;" src="/themes/default/imgs/flow/loookorder_btn.gif" width="129" height="37" /></a></td>
          </tr>
    </table>
</div><br/><br/>
 <dl class="wenxin">
  <dt>温馨提示</dt>
    <dd>1. 每天16：00以前的订单将在当天发货，16:00-0：00的订单将在第二天发货。</dd>

    <dd>2. 给力百货支持30天内无条件上门退换货，收到货后有任何问题请随时拨打我们的24小时客服电话：4008816016。<a href="http://www.geilibuy.com/article-18.html" target="_blank">退换货政策</a></dd>
  </dl>
</div>
<% content_for :bodyfoot do%>
<!--[if IE 6]><script type="text/javascript">try {document.execCommand('BackgroundImageCache', false, true);} catch(e) {}</script><![endif]-->
<div id="global_foot_white"></div>
<script type="text/javascript" src="/themes/default/js/js-clib.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/global.js" charset="UTF-8"></script>
<script type="text/javascript">
$(document).ready(function(){
	setHeadFlowNum();//购物车数量
});

</script>

<%end%>