<%
product_ids=get_history_product_ids
if product_ids.size>0
%>
<div id="history_div" t="static"> 
    <div id="history_title"></div> 
    <div id="history_box">
          <%
          products=Product.find(product_ids)
          content=""
          products.each do |product|
          %>
          <a title="<%=product.name%>" href="/product/<%=product.id%>" target="_blank">
          <img alt="<%=product.name%>" src="<%=product.i1.url(:thumb)%>" height="55" width="55"></a>
          <%end%>
          <div id="clear"></div>
    </div> 
</div>
<%end%>
