<% content_for :headmeta do %>
<meta name="Generator" content="给力百货 geilibuy.com " />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache"/>
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/>
<meta http-equiv="expires" content=""/>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<meta name="pagename" content="lottery" />
<%end%>
<%content_for :headtitle do%>
<title>给力百货抽奖总动员--获奖名单</title>
<%end%>
<% content_for :headstyle do %>
<link href="/themes/default/css/header.css" rel="stylesheet" type="text/css" />
<link href="/themes/default/css/lottery.css" rel="stylesheet" type="text/css" />
<%end%>
<% content_for :headjs do %>
<script type="text/javascript" src="/themes/default/js/quwan.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/js-clib.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/header.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/global.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/lottery.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/flow.js" charset="UTF-8"></script>

<%end%>
<% content_for :headother do%>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="icon" href="/animated_favicon.gif" type="image/gif" />
<% end%>
<div id="global_wish_body">


     <!--<div class="wish_share_update_box" id="winner_multi">
  	<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
     <td class="wish_share_update_left"><img src="/themes/default/imgs/wish/warn.gif" width="34" height="32" /></td>
    <td height="40" class="wish_share_update_left" style="padding-left:70px;">邮件系统正在升级，验证邮件发送会略有延迟，请您耐心等待。
  <div id="status2" style="display:none;"></div></td>
  </tr>
</table>
  </div>-->




<div id="wish_postion_box"><span>获奖名单</span><span><a href="/lottery"><img src="/themes/default/imgs/wish/wish_position_return.gif" /></a></span></div>
    <!--<div id="wish_banner_box"><img src="/themes/default/imgs/wish/banner1.gif" /></div>-->

  <div class="wish_big_gift_box">
    	<div class="wish_big_gift_box_in">
        	<ul class="wish_big_gift_index_ul">
        	                   <li class="wish_big_gift_index_li wish_big_gift_index_li_on">
                    <span class="wish_big_gift_own">萧萧新</span>
                    <span class="wish_big_gift_goods">
                                             <a style="color:#cc0000; font-weight:bold;" href="goods-7747.html?fm=choujiang" target="_blank">ILEA日韩...                      </a>
                                            <br>￥69.00</span>
                    <span class="wish_big_gift_date">2010-12-12 13:25:39</span>
                    <div  id="clear"></div>
                </li>
                                <li class="wish_big_gift_index_li ">
                    <span class="wish_big_gift_own">lt314</span>
                    <span class="wish_big_gift_goods">
                                             <a style="color:#cc0000; font-weight:bold;" href="goods-7525.html?fm=choujiang" target="_blank">Doulex...                      </a>
                                            <br>￥49.00</span>
                    <span class="wish_big_gift_date">2010-12-12 11:24:32</span>
                    <div  id="clear"></div>
                </li>
                                <li class="wish_big_gift_index_li ">
                    <span class="wish_big_gift_own">加菲</span>
                    <span class="wish_big_gift_goods">
                                             <a style="color:#cc0000; font-weight:bold;" href="goods-7525.html?fm=choujiang" target="_blank">Doulex...                      </a>
                                            <br>￥49.00</span>
                    <span class="wish_big_gift_date">2010-12-12 09:45:14</span>
                    <div  id="clear"></div>
                </li>
                            </ul>
                        <div class="wish_big_gift_right" id="big_gift_right1">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="35%" rowspan="4" ><div style="padding:0; position:relative;">
                    <span id="big_gift_trangle"><img src="/themes/default/imgs/wish/big_gift.gif" width="54" height="54" /></span>
                    <img src="/images/201007/1279666510165358335-160.jpg" /></div></td>
                  <td width="15%" style="padding:0;">幸运儿：</td>
                  <td width="50%" style="padding:0;">萧萧新</td>
                </tr>
                <tr>
                  <td valign="top">获奖感言：</td>
                  <td valign="top"><span>挺好</span></td>
                </tr>
                <tr>
                  <td style="border-top:1px dotted #ccc; padding-top:5px;">名称：</td>
                  <td style="border-top:1px dotted #ccc; padding-top:5px;">
                                        <a href="goods-7747.html?fm=choujiang" target="_blank">ILEA日韩帆布...</a>
                                        </td>
                </tr>
                <tr>
                  <td>价值：</td>
                  <td>￥69.00</td>
                </tr>
              </table>
			</div>
			            <div class="wish_big_gift_right" id="big_gift_right2">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="35%" rowspan="4" ><div style="padding:0; position:relative;">
                    <span id="big_gift_trangle"><img src="/themes/default/imgs/wish/big_gift.gif" width="54" height="54" /></span>
                    <img src="/images/201006/1277259373313823472-160.jpg" /></div></td>
                  <td width="15%" style="padding:0;">幸运儿：</td>
                  <td width="50%" style="padding:0;">lt314</td>
                </tr>
                <tr>
                  <td valign="top">获奖感言：</td>
                  <td valign="top"><span>感谢爸爸妈妈辛苦养育二十载，让我有了这次抽奖的机会。感谢给力百货提供的抽奖活动，让我有了中奖的机会。感...</span></td>
                </tr>
                <tr>
                  <td style="border-top:1px dotted #ccc; padding-top:5px;">名称：</td>
                  <td style="border-top:1px dotted #ccc; padding-top:5px;">
                                        <a href="goods-7525.html?fm=choujiang" target="_blank">Doulex会呼...</a>
                                        </td>
                </tr>
                <tr>
                  <td>价值：</td>
                  <td>￥49.00</td>
                </tr>
              </table>
			</div>
			            <div class="wish_big_gift_right" id="big_gift_right3">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="35%" rowspan="4" ><div style="padding:0; position:relative;">
                    <span id="big_gift_trangle"><img src="/themes/default/imgs/wish/big_gift.gif" width="54" height="54" /></span>
                    <img src="/images/201006/1277259373313823472-160.jpg" /></div></td>
                  <td width="15%" style="padding:0;">幸运儿：</td>
                  <td width="50%" style="padding:0;">加菲</td>
                </tr>
                <tr>
                  <td valign="top">获奖感言：</td>
                  <td valign="top"><span>哈哈 第一次这么幸运~~周末好心情，兴奋中……</span></td>
                </tr>
                <tr>
                  <td style="border-top:1px dotted #ccc; padding-top:5px;">名称：</td>
                  <td style="border-top:1px dotted #ccc; padding-top:5px;">
                                        <a href="goods-7525.html?fm=choujiang" target="_blank">Doulex会呼...</a>
                                        </td>
                </tr>
                <tr>
                  <td>价值：</td>
                  <td>￥49.00</td>
                </tr>
              </table>
			</div>
			            <div  id="clear"></div>
        </div>
    </div>

  <a name="winner"></a>
  <div id="xmas_winner">

<div class="wish_other_box">


    	<div class="wish_role_title"><img src="/themes/default/imgs/wish/win_list_title.gif"></div>
        <table width="928" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td class="win_list_td_title" width="69">昵称（IP）</td>
            <td class="win_list_td_title" width="42">&nbsp;</td>
            <td class="win_list_td_title" width="75">&nbsp;</td>
            <td class="win_list_td_title" width="188">奖品</td>
            <td class="win_list_td_title" width="446">获奖感言</td>
            <td class="win_list_td_title" width="108">中奖时间</td>
          </tr>
                     <tr>
            <td class="win_list_td" style="line-height: 14px;"><span>刘小慧</span><br><span style="color: rgb(153, 153, 153);">IP:119.48.*.*</span></td>
            <td class="win_list_td" valign="middle" align="center">&nbsp;</td>

                        <td class="win_list_td" valign="middle" align="center">
              <a href="goods-7740.html?fm=choujiang" target="_blank" title="三夏光年清新夏日猫咪麻绳便签本-两本入">
            <img style="border: 1px solid rgb(204, 204, 204); margin: 5px;" src="/images/201007/1278368990414583666-55.jpg" height="48" width="48"></a>
            </td>
            <td class="win_list_td" style="line-height: 14px;">
              <a href="goods-7740.html?fm=choujiang" target="_blank" title="三夏光年清新夏日猫咪麻绳便签本-两本入">三夏光年清新夏日猫咪麻绳便签本-...</a>
              <br>￥12.00</td>

             <td class="win_list_td" style="line-height: 14px; padding: 3px;" width="400"><div style="display: block; width: 400px; word-wrap: break-word; overflow: hidden;">哈哈   真是不错啊  好喜欢呀  希望快点发过给我呀</div></td>
            <td class="win_list_td" style="line-height: 14px;">2010-12-12 13:34:30</td>
          </tr>
                     <tr>
            <td class="win_list_td" style="line-height: 14px;"><span>592997602</span><br><span style="color: rgb(153, 153, 153);">IP:112.65.*.*</span></td>
            <td class="win_list_td" valign="middle" align="center">&nbsp;</td>

                        <td class="win_list_td" valign="middle" align="center">
              <a href="goods-7659.html?fm=choujiang" target="_blank" title="Time-honored韩式编织手表--桔色">
            <img style="border: 1px solid rgb(204, 204, 204); margin: 5px;" src="/images/201009/1285353569717783999-55.jpg" height="48" width="48"></a>
            </td>
            <td class="win_list_td" style="line-height: 14px;">
              <a href="goods-7659.html?fm=choujiang" target="_blank" title="Time-honored韩式编织手表--桔色">Time-honored韩式编织...</a>
              <br>￥16.90</td>

             <td class="win_list_td" style="line-height: 14px; padding: 3px;" width="400"><div style="display: block; width: 400px; word-wrap: break-word; overflow: hidden;">一抽就中拉~~开心开心，(*^__^*) 嘻嘻</div></td>
            <td class="win_list_td" style="line-height: 14px;">2010-12-12 13:31:51</td>
          </tr>
                     <tr>
            <td class="win_list_td" style="line-height: 14px;"><span>萧萧新</span><br><span style="color: rgb(153, 153, 153);">IP:116.53.*.*</span></td>
            <td class="win_list_td" valign="middle" align="center"><img src="/themes/default/imgs/wish/big_gift_span.gif" height="16" width="27"></td>

                        <td class="win_list_td" valign="middle" align="center">
              <a href="goods-7747.html?fm=choujiang" target="_blank" title="ILEA日韩帆布包ABH-02004 米字旗">
            <img style="border: 1px solid rgb(204, 204, 204); margin: 5px;" src="/images/201007/1279666510165358335-55.jpg" height="48" width="48"></a>
            </td>
            <td class="win_list_td" style="line-height: 14px;">
              <a id="big_gift_a" href="goods-7747.html?fm=choujiang" target="_blank" title="ILEA日韩帆布包ABH-02004 米字旗">ILEA日韩帆布包ABH-020...</a>
              <br>￥69.00</td>

             <td class="win_list_td" style="line-height: 14px; padding: 3px;" width="400"><div style="display: block; width: 400px; word-wrap: break-word; overflow: hidden;">挺好</div></td>
            <td class="win_list_td" style="line-height: 14px;">2010-12-12 13:25:39</td>
          </tr>
                     <tr>
            <td class="win_list_td" style="line-height: 14px;"><span>莉莉账户</span><br><span style="color: rgb(153, 153, 153);">IP:123.117.*.*</span></td>
            <td class="win_list_td" valign="middle" align="center">&nbsp;</td>

                        <td class="win_list_td" valign="middle" align="center">
              <a href="goods-4011.html?fm=choujiang" target="_blank" title="手工DIY苹果宝贝情侣挂饰">
            <img style="border: 1px solid rgb(204, 204, 204); margin: 5px;" src="/images/200912/1261609410568740142-55.jpg" height="48" width="48"></a>
            </td>
            <td class="win_list_td" style="line-height: 14px;">
              <a href="goods-4011.html?fm=choujiang" target="_blank" title="手工DIY苹果宝贝情侣挂饰">手工DIY苹果宝贝情侣挂饰</a>
              <br>￥9.90</td>

             <td class="win_list_td" style="line-height: 14px; padding: 3px;" width="400"><div style="display: block; width: 400px; word-wrap: break-word; overflow: hidden;">无</div></td>
            <td class="win_list_td" style="line-height: 14px;">2010-12-12 13:18:52</td>
          </tr>
                     <tr>
            <td class="win_list_td" style="line-height: 14px;"><span>lonely_man</span><br><span style="color: rgb(153, 153, 153);">IP:123.147.*.*</span></td>
            <td class="win_list_td" valign="middle" align="center">&nbsp;</td>

                        <td class="win_list_td" valign="middle" align="center">
              <a href="goods-7659.html?fm=choujiang" target="_blank" title="Time-honored韩式编织手表--桔色">
            <img style="border: 1px solid rgb(204, 204, 204); margin: 5px;" src="/images/201009/1285353569717783999-55.jpg" height="48" width="48"></a>
            </td>
            <td class="win_list_td" style="line-height: 14px;">
              <a href="goods-7659.html?fm=choujiang" target="_blank" title="Time-honored韩式编织手表--桔色">Time-honored韩式编织...</a>
              <br>￥16.90</td>

             <td class="win_list_td" style="line-height: 14px; padding: 3px;" width="400"><div style="display: block; width: 400px; word-wrap: break-word; overflow: hidden;">哈哈，谢谢！</div></td>
            <td class="win_list_td" style="line-height: 14px;">2010-12-12 13:06:15</td>
          </tr>
                     <tr>
            <td class="win_list_td" style="line-height: 14px;"><span>海平</span><br><span style="color: rgb(153, 153, 153);">IP:222.173.*.*</span></td>
            <td class="win_list_td" valign="middle" align="center">&nbsp;</td>

                        <td class="win_list_td" valign="middle" align="center">
              <a href="goods-4011.html?fm=choujiang" target="_blank" title="手工DIY苹果宝贝情侣挂饰">
            <img style="border: 1px solid rgb(204, 204, 204); margin: 5px;" src="/images/200912/1261609410568740142-55.jpg" height="48" width="48"></a>
            </td>
            <td class="win_list_td" style="line-height: 14px;">
              <a href="goods-4011.html?fm=choujiang" target="_blank" title="手工DIY苹果宝贝情侣挂饰">手工DIY苹果宝贝情侣挂饰</a>
              <br>￥9.90</td>

             <td class="win_list_td" style="line-height: 14px; padding: 3px;" width="400"><div style="display: block; width: 400px; word-wrap: break-word; overflow: hidden;">真是好不容易啊，终于获得一个</div></td>
            <td class="win_list_td" style="line-height: 14px;">2010-12-12 13:00:04</td>
          </tr>
                     <tr>
            <td class="win_list_td" style="line-height: 14px;"><span>pcsur</span><br><span style="color: rgb(153, 153, 153);">IP:116.57.*.*</span></td>
            <td class="win_list_td" valign="middle" align="center">&nbsp;</td>

                        <td class="win_list_td" valign="middle" align="center">
              <a href="goods-7659.html?fm=choujiang" target="_blank" title="Time-honored韩式编织手表--桔色">
            <img style="border: 1px solid rgb(204, 204, 204); margin: 5px;" src="/images/201009/1285353569717783999-55.jpg" height="48" width="48"></a>
            </td>
            <td class="win_list_td" style="line-height: 14px;">
              <a href="goods-7659.html?fm=choujiang" target="_blank" title="Time-honored韩式编织手表--桔色">Time-honored韩式编织...</a>
              <br>￥16.90</td>

             <td class="win_list_td" style="line-height: 14px; padding: 3px;" width="400"><div style="display: block; width: 400px; word-wrap: break-word; overflow: hidden;">没想到我的坚持终于得到回报了！</div></td>
            <td class="win_list_td" style="line-height: 14px;">2010-12-12 12:55:45</td>
          </tr>
                     <tr>
            <td class="win_list_td" style="line-height: 14px;"><span>loveminrebecca</span><br><span style="color: rgb(153, 153, 153);">IP:218.1.*.*</span></td>
            <td class="win_list_td" valign="middle" align="center">&nbsp;</td>

                        <td class="win_list_td" valign="middle" align="center">
              <a href="goods-4011.html?fm=choujiang" target="_blank" title="手工DIY苹果宝贝情侣挂饰">
            <img style="border: 1px solid rgb(204, 204, 204); margin: 5px;" src="/images/200912/1261609410568740142-55.jpg" height="48" width="48"></a>
            </td>
            <td class="win_list_td" style="line-height: 14px;">
              <a href="goods-4011.html?fm=choujiang" target="_blank" title="手工DIY苹果宝贝情侣挂饰">手工DIY苹果宝贝情侣挂饰</a>
              <br>￥9.90</td>

             <td class="win_list_td" style="line-height: 14px; padding: 3px;" width="400"><div style="display: block; width: 400px; word-wrap: break-word; overflow: hidden;">开心真的假的</div></td>
            <td class="win_list_td" style="line-height: 14px;">2010-12-12 12:52:59</td>
          </tr>
                     <tr>
            <td class="win_list_td" style="line-height: 14px;"><span>购物chaoren</span><br><span style="color: rgb(153, 153, 153);">IP:113.93.*.*</span></td>
            <td class="win_list_td" valign="middle" align="center">&nbsp;</td>

                        <td class="win_list_td" valign="middle" align="center">
              <a href="goods-4011.html?fm=choujiang" target="_blank" title="手工DIY苹果宝贝情侣挂饰">
            <img style="border: 1px solid rgb(204, 204, 204); margin: 5px;" src="/images/200912/1261609410568740142-55.jpg" height="48" width="48"></a>
            </td>
            <td class="win_list_td" style="line-height: 14px;">
              <a href="goods-4011.html?fm=choujiang" target="_blank" title="手工DIY苹果宝贝情侣挂饰">手工DIY苹果宝贝情侣挂饰</a>
              <br>￥9.90</td>

             <td class="win_list_td" style="line-height: 14px; padding: 3px;" width="400"><div style="display: block; width: 400px; word-wrap: break-word; overflow: hidden;">第一次中奖了，真的很开心</div></td>
            <td class="win_list_td" style="line-height: 14px;">2010-12-12 12:45:12</td>
          </tr>
                     <tr>
            <td class="win_list_td" style="line-height: 14px;"><span>TOTO</span><br><span style="color: rgb(153, 153, 153);">IP:183.3.*.*</span></td>
            <td class="win_list_td" valign="middle" align="center">&nbsp;</td>

                        <td class="win_list_td" valign="middle" align="center">
              <a href="goods-2921.html?fm=choujiang" target="_blank" title="DOULEX光控卡片计算器-橙色">
            <img style="border: 1px solid rgb(204, 204, 204); margin: 5px;" src="/images/200911/1259177696183135711-55.jpg" height="48" width="48"></a>
            </td>
            <td class="win_list_td" style="line-height: 14px;">
              <a href="goods-2921.html?fm=choujiang" target="_blank" title="DOULEX光控卡片计算器-橙色">DOULEX光控卡片计算器-橙色</a>
              <br>￥9.90</td>

             <td class="win_list_td" style="line-height: 14px; padding: 3px;" width="400"><div style="display: block; width: 400px; word-wrap: break-word; overflow: hidden;">哈哈，不好意思，又中啊</div></td>
            <td class="win_list_td" style="line-height: 14px;">2010-12-12 12:29:30</td>
          </tr>
                     <tr>
            <td class="win_list_td" style="line-height: 14px;"><span>qingzi</span><br><span style="color: rgb(153, 153, 153);">IP:115.208.*.*</span></td>
            <td class="win_list_td" valign="middle" align="center">&nbsp;</td>

                        <td class="win_list_td" valign="middle" align="center">
              <a href="goods-2921.html?fm=choujiang" target="_blank" title="DOULEX光控卡片计算器-橙色">
            <img style="border: 1px solid rgb(204, 204, 204); margin: 5px;" src="/images/200911/1259177696183135711-55.jpg" height="48" width="48"></a>
            </td>
            <td class="win_list_td" style="line-height: 14px;">
              <a href="goods-2921.html?fm=choujiang" target="_blank" title="DOULEX光控卡片计算器-橙色">DOULEX光控卡片计算器-橙色</a>
              <br>￥9.90</td>

             <td class="win_list_td" style="line-height: 14px; padding: 3px;" width="400"><div style="display: block; width: 400px; word-wrap: break-word; overflow: hidden;">哈哈~</div></td>
            <td class="win_list_td" style="line-height: 14px;">2010-12-12 12:28:59</td>
          </tr>
                     <tr>
            <td class="win_list_td" style="line-height: 14px;"><span>忽忽</span><br><span style="color: rgb(153, 153, 153);">IP:118.121.*.*</span></td>
            <td class="win_list_td" valign="middle" align="center">&nbsp;</td>

                        <td class="win_list_td" valign="middle" align="center">
              <a href="goods-9850.html?fm=choujiang" target="_blank" title="LENK镭科旋转式2G U盘-黄色 ">
            <img style="border: 1px solid rgb(204, 204, 204); margin: 5px;" src="/images/201008/1283134958574030613-55.jpg" height="48" width="48"></a>
            </td>
            <td class="win_list_td" style="line-height: 14px;">
              <a href="goods-9850.html?fm=choujiang" target="_blank" title="LENK镭科旋转式2G U盘-黄色 ">LENK镭科旋转式2G U盘-黄...</a>
              <br>￥38.00</td>

             <td class="win_list_td" style="line-height: 14px; padding: 3px;" width="400"><div style="display: block; width: 400px; word-wrap: break-word; overflow: hidden;">感谢趣味网！！！</div></td>
            <td class="win_list_td" style="line-height: 14px;">2010-12-12 12:28:34</td>
          </tr>
                     <tr>
            <td class="win_list_td" style="line-height: 14px;"><span>wcx</span><br><span style="color: rgb(153, 153, 153);">IP:123.133.*.*</span></td>
            <td class="win_list_td" valign="middle" align="center">&nbsp;</td>

                        <td class="win_list_td" valign="middle" align="center">
              <a href="goods-4011.html?fm=choujiang" target="_blank" title="手工DIY苹果宝贝情侣挂饰">
            <img style="border: 1px solid rgb(204, 204, 204); margin: 5px;" src="/images/200912/1261609410568740142-55.jpg" height="48" width="48"></a>
            </td>
            <td class="win_list_td" style="line-height: 14px;">
              <a href="goods-4011.html?fm=choujiang" target="_blank" title="手工DIY苹果宝贝情侣挂饰">手工DIY苹果宝贝情侣挂饰</a>
              <br>￥9.90</td>

             <td class="win_list_td" style="line-height: 14px; padding: 3px;" width="400"><div style="display: block; width: 400px; word-wrap: break-word; overflow: hidden;">人品大爆发啊~~</div></td>
            <td class="win_list_td" style="line-height: 14px;">2010-12-12 12:11:42</td>
          </tr>
                     <tr>
            <td class="win_list_td" style="line-height: 14px;"><span>star</span><br><span style="color: rgb(153, 153, 153);">IP:218.82.*.*</span></td>
            <td class="win_list_td" valign="middle" align="center">&nbsp;</td>

                        <td class="win_list_td" valign="middle" align="center">
              <a href="goods-9850.html?fm=choujiang" target="_blank" title="LENK镭科旋转式2G U盘-黄色 ">
            <img style="border: 1px solid rgb(204, 204, 204); margin: 5px;" src="/images/201008/1283134958574030613-55.jpg" height="48" width="48"></a>
            </td>
            <td class="win_list_td" style="line-height: 14px;">
              <a href="goods-9850.html?fm=choujiang" target="_blank" title="LENK镭科旋转式2G U盘-黄色 ">LENK镭科旋转式2G U盘-黄...</a>
              <br>￥38.00</td>

             <td class="win_list_td" style="line-height: 14px; padding: 3px;" width="400"><div style="display: block; width: 400px; word-wrap: break-word; overflow: hidden;">人品爆发了，期待奖品的到来。。。</div></td>
            <td class="win_list_td" style="line-height: 14px;">2010-12-12 11:50:44</td>
          </tr>
                     <tr>
            <td class="win_list_td" style="line-height: 14px;"><span>opus</span><br><span style="color: rgb(153, 153, 153);">IP:120.8.*.*</span></td>
            <td class="win_list_td" valign="middle" align="center">&nbsp;</td>

                        <td class="win_list_td" valign="middle" align="center">
              <a href="goods-7637.html?fm=choujiang" target="_blank" title="爆牙公简约帆布包--手提袋--灰色“我的非洲朋友”">
            <img style="border: 1px solid rgb(204, 204, 204); margin: 5px;" src="/images/201007/1278443640539960328-55.jpg" height="48" width="48"></a>
            </td>
            <td class="win_list_td" style="line-height: 14px;">
              <a href="goods-7637.html?fm=choujiang" target="_blank" title="爆牙公简约帆布包--手提袋--灰色“我的非洲朋友”">爆牙公简约帆布包--手提袋--灰...</a>
              <br>￥39.00</td>

             <td class="win_list_td" style="line-height: 14px; padding: 3px;" width="400"><div style="display: block; width: 400px; word-wrap: break-word; overflow: hidden;">第二次中奖</div></td>
            <td class="win_list_td" style="line-height: 14px;">2010-12-12 11:32:05</td>
          </tr>
                  </tbody></table><br><br>
    <div id="clear"></div>
	</div>
    <div class="page_box"><span><font>«首页</font></span><span><font>­上一页</font></span><span id="page_on"><font>1</font></span><span><a href="#winner" onclick="getxmaswinner(0, 2, 'view')">2</a></span><span><a href="#winner" onclick="getxmaswinner(0, 3, 'view')">3</a></span><span><a href="#winner" onclick="getxmaswinner(0, 4, 'view')">4</a></span><span><a href="#winner" onclick="getxmaswinner(0, 5, 'view')">5</a></span><span><a href="#winner" onclick="getxmaswinner(0, 6, 'view')">...</a></span><span><a href="#winner" onclick="getxmaswinner(0, 2184, 'view')">2184</a></span><span><a href="#winner" onclick="getxmaswinner(0, 2, 'view')">­下一页</a></span><span><a href="#winner" onclick="getxmaswinner(0, 2184, 'view')">­尾页»</a></span><span><font>1/共2184页</font></span></div>


</div>













<div id="clear"></div>
</div>
<% content_for :bodyfoot do%>
<!--[if IE 6]><script type="text/javascript">try {document.execCommand('BackgroundImageCache', false, true);} catch(e) {}</script><![endif]-->

<div id="global_foot_white"></div>
<script type=text/javascript>
$(document).ready(function(){
  setHeadFlowNum();//购物车数量
  try
  {
        lotteryActivity();//概率翻倍活动
  }
  catch (e)
  {
  }
});
</script>
<script type=text/javascript>
$(document).ready(function(){
  getxmaswinner('',1,'view');
	$('.wish_big_gift_index_ul').find('li').eq(0).hover(function(){
		$(this).addClass('wish_big_gift_index_li_on').siblings().removeClass('wish_big_gift_index_li_on');
		$('#big_gift_right1').fadeIn();
		$('#big_gift_right2').hide();
		$('#big_gift_right3').hide();
	},function(){
	});
	$('.wish_big_gift_index_ul').find('li').eq(1).hover(function(){
		$(this).addClass('wish_big_gift_index_li_on').siblings().removeClass('wish_big_gift_index_li_on');
		$('#big_gift_right2').fadeIn();
		$('#big_gift_right1').hide();
		$('#big_gift_right3').hide();
	},function(){
	});
	$('.wish_big_gift_index_ul').find('li').eq(2).hover(function(){
		$(this).addClass('wish_big_gift_index_li_on').siblings().removeClass('wish_big_gift_index_li_on');
		$('#big_gift_right3').fadeIn();
		$('#big_gift_right1').hide();
		$('#big_gift_right2').hide();
	},function(){
	});

});
</script>
<map name="wish_banner_Map" id="wish_banner_Map">
    <area shape="rect" coords="20,111,233,194" href="?act=guide" target="_blank" />
    <area shape="rect" coords="250,112,464,197" href="?act=guide" target="_blank" />
    <area shape="rect" coords="480,111,694,197" href="?act=guide" target="_blank" />
</map>

<%end%>

