

<% content_for :headmeta do %>
<meta name="Generator" content="给力百货 geilibuy.com " />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="" />
<meta name="Description" content="给力百货(geilibuy.com)中国最时尚的创意生活百货，作为最专业的创意生活百货购物站，生活日用_家居频道包含各种创意时尚的
生活日用_家居商品，正品保证，货到付款" />
<meta name="pagename" content="category" />
<%end%>
<%content_for :headtitle do%>
<title>生活日用_家居频道，最流行生活日用精品专卖【30天退换货】_给力百货 - 日用百货量贩平台：在线销售 家居 厨浴 装饰 办公 潮流等创意商品</title>
<%end%>
<% content_for :headstyle do %>
<link href="/themes/default/css/header.css" rel="stylesheet" type="text/css" />
<link href="/themes/default/css/catogry.css" rel="stylesheet" type="text/css" />
<%end%>
<% content_for :headjs do %>
<script type="text/javascript" src="/themes/default/js/quwan.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/header.js" charset="UTF-8"></script>
<%end%>
<% content_for :headother do%>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="icon" href="/animated_favicon.gif" type="image/gif" />
<% end%>
<%content_for :bodymenu do %>
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<%=render :partial=>"header",:locals=>{:category_id=>params[:categoryid].to_i}%>
<% end %>
<%
whole_categories=Category.find_by_id(params[:categoryid]).whole_categories
category_name=whole_categories.first.name
location="顶级分类"
%>
<div id="main">
<%=render :partial=>'left',:locals=>{:location=>location,:category_name=>category_name}%>




<%=render 'right'%>
<div id='clear'></div>
</div>
<script type="text/javascript" src="/themes/default/js/js-clib.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/global.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/category.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/lazyload.js" charset="UTF-8"></script>
<% content_for :bodyfoot do%>
<!--[if IE 6]><script type="text/javascript">try {document.execCommand('BackgroundImageCache', false, true);} catch(e) {}</script><![endif]--> 
<div id="global_foot_white"></div> 
<% end%>
<%content_for :outhtml do%>
<script type="text/javascript">
$(document).ready(function(){
	setHeadFlowNum();//购物车数量
	//setSearchAicon('unreal_sales','desc');
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    /* 列表页左侧列表弹出操作事件 */
    $('.list_off').hover(function(){
  	  $('.listbox').find('.list_off').removeClass('list_on');
  	  $(this).addClass('list_on');
  	  $(this).find('.list_pop').show();	
  	}, function(){									  
  	  $(this).find('.list_pop').hide();
  	});
    /* 价格搜索按钮显示 */
    $('.price_zone').focus(function(){
     $('.sel_btn').show();
    }); 
     /*静态页面调用该函数*/
        setHeadUserStatus();
      });

</script>
<%end%>