<div class="right_top"> <span class="welcome xianjin"></span> <span class="goon_btn"><a style="color:#fff;" href="/" title="首页">继续购物</a></span> </div>
<div class="right_line" style="margin-top:5px;">
  <p style="line-height:30px;"><strong style="font-size:14px; color:#000; float:left;">现金帐户充值</strong><a style="color:#999999; float:right; color:#0066cc;" href="/usercenter/account">[返回我的现金帐号]</a></p>
  <div class="clear"></div>
  <table width="100%"  border="0" cellpadding="0" cellspacing="0" class="table">
    <tr>
      <td width="4%" height="22" align="left" valign="middle" >&nbsp;</td>
      <td width="10%" align="left" valign="middle" >&nbsp;</td>
      <td colspan="3" align="left" valign="middle" >&nbsp;</td>
    </tr>
    <tr>
      <td height="40" colspan="5" align="left" valign="middle" class="td_form"><div style=" margin-left:25px; padding-left:10px;color:#ff3300; background-color:#f9f9f9; width:707px; height:30px; line-height:30px; margin-bottom:10px;">提示：验证充值卡密码后，充值卡金额将充入您的现金账户，充进现金账户的钱不能再提出。</div></td>
    </tr>
    <tr>
      <td height="40" align="left" valign="middle" class="td_form">&nbsp;</td>
      <td align="right" valign="middle" class="td_form">充值卡密码：</td>
      <td width="30%" align="left" valign="middle" class="td_form"><input type="text" name="money_card" id="money_card" style="height:20px; width:210px;text-transform:uppercase;" maxlength="10"/>
        &nbsp;&nbsp;
        </td>
      <td width="14%" align="left" valign="middle" class="td_form"><input class="band_btn" id="cz_btn" style="border:none; cursor:pointer; padding-top:0; *padding-top:1px;" value="验证充值" name="验证充值" type="button" onClick="javascript:userCheckMoneyCardAction();" /></td>
      <td width="42%" align="left" valign="middle" class="td_form">&nbsp;</td>
    </tr>
    <tr id="cztipbox" style="display:none;">
      <td height="40" align="left" valign="middle" class="td_form">&nbsp;</td>
      <td align="right" valign="middle" class="td_form">&nbsp;</td>
      <td colspan="3" align="left" valign="middle" class="td_form"><span id="cztip" class="tipbox inputtip">提示内容</span></td>
    </tr>
    <tr>
      <td align="left" valign="middle" class="td">&nbsp;</td>
      <td align="left" valign="middle" class="td">&nbsp;</td>
      <td colspan="3" align="left" valign="top" class="td"><span class="td_form"><span style="color:#090">充值成功，您将获得充值金额×10的积分奖励。</span></span></td>
    </tr>
  </table>
</div>    
