




      <div class="right_top">
        	<span class="welcome mima"></span>
            <span class="goon_btn"><a style="color:#fff;" href="./" title="首页">继续购物</a></span>
        </div>
      <div class="right_line">
	  	  <form name="formPassword" id="formPassword" action="/usercenter/mod_password" method="post" onSubmit="return editPassword()">    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <table width="100%"  border="0" cellpadding="0" cellspacing="0" class="table">
          <tr>
            <td width="30" align="left" valign="middle">&nbsp;</td>
            <td width="96" align="left" valign="middle">&nbsp;</td>
            <td width="641" height="30" align="left" valign="middle" >&nbsp;</td>
          </tr>
          <tr>
            <td align="left" width="30" valign="middle" class="td_form">&nbsp;</td>
            <td height="40" align="right" valign="middle" class="td_form"><span style="color:#652f00; padding-right:10px;">旧密码：</span></td>
            <td align="left" valign="middle" class="td_form"><input name="old_password"  id="old_password" type="password" /><span id="resset_pass_notice" class="resset_pass_notice"></span>
            </td>
          </tr>
          <tr>
            <td align="left" width="30" valign="middle" class="td_form">&nbsp;</td>
            <td height="40" align="right" valign="middle" class="td_form"><span style="color:#652f00; padding-right:10px;">新密码：</span></td>
            <td align="left" valign="middle" class="td_form"><input name="new_password" id="new_password" type="password"  />
            <span id="resset_pass_notice" class="resset_pass_notice" style="color:#652f00; padding-right:10px;">长度6位以上的字母或数字</span></td>
          </tr>
          <tr>
            <td align="left" width="30" valign="middle" class="td_form">&nbsp;</td>
            <td height="40" align="right" valign="middle" class="td_form"><span style="color:#652f00; padding-right:10px;">确认新密码：</span></td>
            <td align="left" valign="middle" class="td_form"><label>
             <input name="comfirm_password" id="comfirm_password" type="password"  />
	      <span id="resset_pass_notice" class="resset_pass_notice"  style="color:#652f00; padding-right:10px;">再次输入与上面相同的密码</span>
	  </label>
            </td>
          </tr>
          <tr>
            <td align="left" valign="middle" class="td_form">&nbsp;</td>
            <td height="40" align="left" valign="middle" class="td_form">&nbsp;</td>
            <td align="left" valign="middle" class="td_form"><span class="goon_btn" style="float:left; margin-left:0;">
            <input class="u_btn" type="submit" value="保存修改" /></span></td>
          </tr>
          <tr>
            <td align="left" valign="middle" class="td">&nbsp;</td>
            <td align="left" valign="middle" class="td">&nbsp;</td>
            <td align="left" valign="middle" class="td">&nbsp;</td>
          </tr>
        </table>
		 <input type="hidden" name="uid" value="684022" />
        <input type="hidden" name="code" value="" />
	      <input type="hidden" name="act" value="act_edit_password" />
      </form>
      </div>

