    	<div class="right_top">        	
        	<span class="welcome"></span>
            <span class="goon_btn"><a style="color:#fff;" href="./" title="首页">继续购物</a></span>
        </div>
      <div class="right_line dashed_line">
        <ul class="class_info_ul">
            <li>您的可用优惠券/礼品卡价值：<span><a href="/usercenter/coupons">0.00元</a></span></li>
            <li>您的积分：<span><%=current_user.score%>积分</span></li>
    		  <li>您的抽奖幸运点：<span><%=current_user.lucky%></span></li>
        </ul>
      </div>
<% content_for :outhtml do%>
<script type="text/javascript">
  $(document).ready(function(){
    
  /* 悬浮显示商品评论星星 */
  $('.star').hover(function(){
  		$(this).find('.star_pop').show();
  	}, function(){	
  		$(this).find('.star_pop').hide();	
  	});
	/* 加入购物车弹出层 */
	$(".close").live("click", function(){
	$("#popbg").fadeOut();
	$(this).parent().parent().parent().fadeOut();
	});	
  stepUserCenterAction('default');//设置活动menu
  setHeadFlowNum();//购物车数量
  setHeadUserStatus();// 检测是否登录
});
</script>
<% end%>