<%content_for :headmeta do%>
<meta name="Generator" content="给力百货 geilibuy.com " />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache"/>
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/>
<meta http-equiv="expires" content=""/>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<meta name="pagename" content="tuan" />

<%end%>
<%content_for :headtitle do%>
<title>给力团答疑 - 给力团 创意百货天天团 - 给力百货</title>
<%end%>
<% content_for :headstyle do %>
<!--style>
html {filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5; opacity: 0.5;}
html {filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);}
</style-->
<link href="/themes/default/css/tuan_public.css" rel="stylesheet" type="text/css" />
<link href="/themes/default/css/tuan_others.css" rel="stylesheet" type="text/css" />
<%end%>
<%content_for :headother do%>
<link rel="shortcut icon" href="http://www.geilibuy.com/favicon.ico" />
<link rel="icon" href="/animated_favicon.gif" type="image/gif" />
<link rel="alternate" type="application/rss+xml" title="RSS|常见问题 - 给力团 创意百货天天团 - 给力百货" href="" />

<%end%>
<%content_for :headjs do%>
<script type="text/javascript" src="/themes/default/js/quwan.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/global.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/tuan.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/hotkeys.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/tuan_divpop.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/tuan_user.js" charset="UTF-8"></script>
<%end%>
<div class="navtip"></div>

<div id="main">
    
<div id="left">
  <div class="zone">
    <div class="leftbar">常见问题</div>
    <dl class="invate_way">
  <dt><strong>如果您对给力团有任何问题和建议，请去<a href="/tuan/deals/qa/" target="_blank" class="blue">给力团答疑</a>页面</strong><strong><br/>

    或者联系给力百货7×24小时客服</strong><b>400-88-16016</b></dt>
</dl>
    <ul class="wenti">
    <li>
    <h4>给力团是什么？和给力百货是什么关系？</h4>
    <p>给力团是给力百货推出的团购服务，每天团购一款创意生活商品。<a class="blue" target="_blank" href="/">给力百货</a>是一个创意生活零售平台，在线销售家居、厨浴、装饰、办公、潮流等创意商品。</p>

    </li>
    <li>
    <h4>团购有时间限制吗？</h4>
    <p>团购会于每天0点开始，当日<strong>23:59</strong>结束。热门商品数量有限团购可能提前结束，过期不候哦。</p>
    </li>
    <li>
    <h4>团购有单个用户购买数量上限吗？</h4>

    <p>有上限的，半卖半送了，大家不要太贪心噢。请在商品图下方的提示中查看限购数量。</p>
    </li>
    <li>
    <h4>怎样确定得到喜欢的团购商品？</h4>
    <p>点击抢购按钮，提交订单后立即付款。如未付款而该团购活动结束，您将无法获得该商品。热门商<br />
    品的团购可能会提前结束，下单要趁早噢！</p>
    </li>

    <li>
    <h4>如何付款，安全么？</h4>
    <p>给力团支持三种付款方式，支付宝、财付通和网上银行（通过快钱），为了方便抢购，您还可<br />
    以使用现金账户余额进行支付。</p>
    <p><img width="76" height="25" src="/themes/default/imgs/tuan/wt_zfb.gif" alt="" /><a class="blue" target="_blank" href="http://help.alipay.com/lab/index.htm">点此查看</a>支付宝使用帮助</p>
    <p><img width="76" height="25" src="/themes/default/imgs/tuan/wt_zft.gif" alt="" /><a class="blue" target="_blank" href="http://help.tenpay.com/helpcenter/index.shtml">点此查看</a>财付通使用帮助</p>

    <p><img width="76" height="25" src="/themes/default/imgs/tuan/wt_kq.gif" alt="" /><a class="blue" target="_blank" href="http://help.99bill.com/">点此查看</a>快钱使用帮助</p>
    </li>
    <li>
    <h4>我已经购买了，什么时候发货？怎样查询？</h4>
    <p>正常情况下您的订单将在下单后1个工作日内发出。遇有订单高峰或者特殊物流状况，订单发货可能会稍有延迟，请谅解。在我们发货之后，您将收到邮件和短信告知快递单号，快递公司更新信息可能延迟，请您在第二天查询快递动态。</p>
    </li>
    <li>

    <h4>给力团发货用什么快递？邮费怎么计算？</h4>
    <p>非特殊规格商品，给力团默认使用汇通速递，邮费5元，如果您的购买满足包邮数量还可以免邮费哦。</p>
    </li>
    <li>
    <h4>给力团商品能和给力百货商品同时购买吗？</h4>
    <p>暂时不能，为保证服务的质量和效率，我们采取分别发货的处理。</p>
    </li>

    <li>
    <h4>团购商品能享受给力百货的其他优惠吗？</h4>
    <p>可以返积分，某些商品可以包邮，但不同时享受该商品在给力百货设定的优惠活动，不支持货到付款。</p>
    </li>
    <li>
    <h4>如果参加团购人数不足怎么办？</h4>
    <p>如果参加团购人数不足，该次团购将被取消，给力团将退还您已支付的款项。您不会有任何损失，但<br />

    失去了以超低价获得给力团精选商品的机会。如果您很希望这次团购成交，<a class="blue" target="_blank" href="http://www.geilibuy.com/tuan/account/share">邀请好友</a>一起来购买吧。</p>
    </li>
    <li>
    <h4>什么情况可以退换货和退款？</h4>
    <p>给力团和给力百货承诺三十天免费上门退换货，<a class="blue" target="_blank" href="http://www.geilibuy.com/tuan/about/articles-396.html">点此查看</a>给力团服务承诺。<br />

    如果团购结束时没有凑够团购人数，给力团将及时退还您已支付的款项。</p>
    </li>
    <li>
    <h4>积分有什么用？怎样获得积分？</h4>
    <p>您可以去<a class="blue" target="_blank" href="http://www.geilibuy.com/points.php">给力百货积分商城</a>使用所得积分。通过消费可获赠支付金额*10的积分。通过评价订单可获赠20积分。</p>
    </li>

    <li>
    <h4>邀请有什么奖励？</h4>
    <p>当好友通过您的专用邀请链接注册并首次在给力团购买，支付成功后系统会返还5元到您的给力团现金账户。返还的金额下次团购时可直接用于支付，没有数量限制，邀请越多，返利越多。</p>
    </li>
    <li>
    <h4>如何退订给力团发给我的每日团购邮件？</h4>
    <p>如不想继续收到给力团每日团购信息，您可随时点击邮件上方的&ldquo;取消订阅&rdquo;即可。</p>

    </li>
    <li>
    <h4>我在给力团答疑中提问怎么回答很慢呢？</h4>
    <p>我们每天服务数十万计的用户，因此如果有回复较慢的情况出现，首先向大家抱歉。我们保证会查看并且回答每位用户的问题。<br />
    如果您想第一时间获得解答，建议您拨打给力百货7&times;24小时客服热线400-6516-118咨询。</p>
    </li>
</ul> </div>

</div>
          <div id="right">
    
    
<div class="ad_box">  <img src="/data/tuan/1288668277387229017.jpg" alt="给力团全国华丽上线" />  </div>
     
   
<%=render 'post'%>
 </div>
  <div class="clear"></div>
</div>
<div id="gotop"><span><a href="#">↑回顶部</a></span><div class="clear"></div></div>
