<%content_for :headmeta do%>
<meta name="Generator" content="给力百货 geilibuy.com " />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache"/>
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/>
<meta http-equiv="expires" content=""/>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<meta name="pagename" content="tuan" />

<%end%>
<%content_for :headtitle do%>
<title>给力团攻略 - 给力团 给力我的给力 - 给力百货</title>
<%end%>
<% content_for :headstyle do %>
<!--style>
html {filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5; opacity: 0.5;}
html {filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);}
</style-->
<link href="/themes/default/css/tuan_public.css" rel="stylesheet" type="text/css" />
<link href="/themes/default/css/tuan_others.css" rel="stylesheet" type="text/css" />
<%end%>
<%content_for :headother do%>
<link rel="shortcut icon" href="http://www.geilibuy.com/favicon.ico" />
<link rel="icon" href="/animated_favicon.gif" type="image/gif" />
<link rel="alternate" type="application/rss+xml" title="RSS|给力团攻略 - 给力团 给力我的给力 - 给力百货" href="" />
<%end%>
<%content_for :headjs do%>
<script type="text/javascript" src="/themes/default/js/quwan.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/global.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/tuan.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/hotkeys.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/tuan_divpop.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/tuan_user.js" charset="UTF-8"></script>
<%end%>
<div class="navtip"></div>

<div id="main">
  
  <div id="left">
  <div class="zone">
    <div class="leftbar">给力团攻略</div>
    <dl class="gonglue">
        <dt> <b>1</b><span>如何购买：</span> </dt>

        <dd> <span>仅需三步：<b> 1.&nbsp;点击抢购&nbsp;&nbsp; 2.&nbsp;填写提交订单&nbsp;&nbsp; 3.&nbsp;成功支付</b></span>
          <p>•&nbsp;团购会于0点开始<b>23:59</b>结束，热门商品数量有限团购可能提前结束，过期不候哦～</p>

          <p>•&nbsp;团购人数还没够？快去招呼朋友吧，邀请有5元奖励噢，大家好才是真的好～</p>
          <p>•&nbsp;团购结束了人数还不够？给力百货立即全额退款。</p>
        </dd>
      <dt> <b>2</b><span>支付指南：</span> </dt>
        <dd>

          <p>给力团支持三种付款方式，支付宝 、财付通和网上银行（通过快钱），为了方便抢购，您还可以使用现金账户余额进行支付。<br />
            <br />
          </p>
          <p><b>给力团提醒：</b>必须支付之后才能算是真正交易成功哦！您已经支付的订单的状态将变成“<font>交易成功</font>”，如果您在团购结束之前没有付款，您的订单会被标记为“<font>已过期</font>”，您就失去了参加这次团购的机会，所以请在下订单后尽快付款哦～</p>
        </dd>

      <dt> <b>3</b><span>订单跟踪：</span>
        <p></p>
      </dt>
      <dd>
        <p>正常情况下您的订单将在1个工作日内发出。已经付款的订单状态会标记为交易成功，发货后可以查看订单详情中快递公司和快递单号信息，点击快递单号可以及时追踪订单信息。</p>
      </dd>
      <dt> <b>4</b><span>订阅更新</span>

        <p></p>
      </dt>
      <dd>
        <p>赶快注册或者订阅给力团的每日邮件通知吧，每天都有新发现哦。<a class="blue" href="http://www.geilibuy.com/tuan/subscribe/default">点击这里去订阅</a></p>
      </dd>
      <dt> <b>5</b><span>邀请有奖</span>

        <p></p>
      </dt>
      <dd>
        <p>如果您喜欢给力团，希望您分享给力团给朋友们。我们也为您的慷慨分享准备了奖励哦！您邀请的好友第一次成功购买，给力团将返还5元到您的现金账户。<a class="blue" href="http://www.geilibuy.com/tuan/account/share">点击这里去邀请</a></p>
      </dd>
      <dt> <b>6</b><span>服务保障</span>

        <p></p>
      </dt>
      <dd>
        <p><img src="http://www.geilibuy.com/themes/default/imgs/tuan/ok1.gif" width="34" height="40" />100%正品真货</p>
        <p><img src="http://www.geilibuy.com/themes/default/imgs/tuan/ok1.gif" width="34" height="40" />允许开箱验货</p>
        <p><img src="http://www.geilibuy.com/themes/default/imgs/tuan/ok1.gif" width="34" height="40" />30天免费上门退换</p>
      </dd>

    </dl>
  </div>
</div>  <div id="right">
    
    <div class="ad_box">  <a href="http://www.geilibuy.com/tuan/about/articles-452.html" title="迎双旦礼品月开团！"><img src="/data/tuan/1291747904691245212.jpg" alt="迎双旦礼品月开团！" /></a>  </div>
    
    <div class="zone helpbar"> <a href="http://www.geilibuy.com/tuan/help/faq" class="blue" target="_blank">» 查看常见问题</a><br/>
  可能有你想要的答案哦。 </div>    

<%=render 'post'%>
</div>
  <div class="clear"></div>
</div>
<div id="gotop"><span><a href="#">↑回顶部</a></span><div class="clear"></div></div>
