<%content_for :headmeta do%>
<meta name="Generator" content="给力百货 geilibuy.com " />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache"/>
<meta name="pagename" content="tuan" />
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/>
<%end%>
<%content_for :headtitle do%>
<title>邀请有奖 - 给力团 创意百货天天团 - 给力百货</title>
<%end%>
<% content_for :headstyle do %>
<!--style>
html {filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5; opacity: 0.5;}
html {filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);}
</style-->
<link href="/themes/default/css/tuan_public.css" rel="stylesheet" type="text/css" />
<link href="/themes/default/css/tuan_ucener.css" rel="stylesheet" type="text/css" />
<link href="/themes/default/css/tuan_others.css" rel="stylesheet" type="text/css" />
<link href="/themes/default/css/tuan_reglogin.css" rel="stylesheet" type="text/css" />
<%end%>
<%content_for :headother do%>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="icon" href="/animated_favicon.gif" type="image/gif" />
<link rel="alternate" type="application/rss+xml" title="RSS|邀请有奖 - 给力团 创意百货天天团 - 给力百货" href="" />
<%end%>
<%content_for :headjs do%>
<script type="text/javascript" src="/themes/default/js/quwan.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/global.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/tuan.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/hotkeys.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/tuan_divpop.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/tuan_user.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/tuan_account.js" charset="UTF-8"></script>
<script type="text/javascript">
$(function(){
  	// 检测是否登录
	setTuanHeadUserStatus();
  
  });
</script>
<%end%>
<div class="navtip ">
</div>

<div id="main">
								
		<div id="left">
    <div class="zone">
    <div class="leftbar">邀请有奖</div>
    <dl class="invate_way">

      <dt>当好友通过您的专用邀请链接注册并完成首次购买，系统会为您的现金账户充值5元，可直接用于支付。</dt>
      <dd id="inv_way1"> <b id="urldoc2">这是您的专用邀请链接，通过MSN或QQ发送给好友吧！</b><br/>
        <input type="text" style="width:300px;" autocomplete="off" name="qqmsnurl2" id="qqmsnurl2" class="inputs" value="http://www.geilibuy.com/tuan/r684022" onfocus="this.select()">
        <!--[if IE]>
        <input type="submit" value="复制链接" class="dbtn com_btn" onClick="copy2(document.getElementById('qqmsnurl2').value)">
        <![endif]-->
        <div class="clear"></div>
      </dd>
            <dd id="inv_way2">

        <table width="520" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td colspan="2"><b>通过其他方式邀请好友：</b></td>
          </tr>
          <tr>
            <td width="214" valign="top"><a href="http://www.geilibuy.com/tuan/"><img src="/data/tuan/1292198290369753241-200.jpg" alt="69元！市场价140元硕而博多功能车载应急手电！买了汽车买了保险，别忘了买应急工具！手摇照明+闪灯警示+敲玻璃+割保险带+磁吸+手机充电，一件搞定常备无患！" width="197" height="119" /></a></td>
            <td width="371" align="left" valign="top" style="padding-right:33px;">69元！市场价140元硕而博多功能车载应急手电！买了汽车买了保险，别忘了买应急工具！手摇照明+闪灯警示+敲玻璃+割保险带+磁吸+手机充电，一件搞定常备无患！</td>
          </tr>

        </table>
      </dd>
          </dl>
        <dl class="share">
      <dt>分享到：</dt>
      <dd> <a class="renren" href="http://share.xiaonei.com/share/buttonshare.do?link=http://www.geilibuy.com/tuan/deals/deals.php?t_c=i_20101214_a_684022&title=%E6%8E%A8%E8%8D%90%E8%B6%A3%E5%9B%A2%E4%BB%8A%E6%97%A5%E5%9B%A2%E8%B4%AD&send_message=%E6%8E%A8%E8%8D%90%E8%B6%A3%E5%9B%A2%E4%BB%8A%E6%97%A5%E5%9B%A2%E8%B4%AD%EF%BC%9A%E9%80%81%E5%AE%A2%E6%88%B7%2169%E5%85%83%21%E5%B8%82%E5%9C%BA%E4%BB%B7140%E5%85%83%E8%BD%A6%E8%BD%BD%E5%BA%94%E6%80%A5%E6%89%8B%E7%94%B5%21%E6%89%8B%E6%91%87%E7%85%A7%E6%98%8E%2F%E9%97%AA%E7%81%AF%E8%AD%A6%E7%A4%BA%2F%E6%95%B2%E7%8E%BB%E7%92%83%2F%E5%89%B2%E4%BF%9D%E9%99%A9%E5%B8%A6%2F%E7%A3%81%E5%90%B8%2F%E6%89%8B%E6%9C%BA%E5%85%85%E7%94%B5%EF%BC%8C%E4%B8%80%E4%BB%B6%E6%90%9E%E5%AE%9A%21" target="_blank">人人</a> <a class="kaixin" href="http://www.kaixin001.com/~repaste/repaste.php?rtitle=%E6%8E%A8%E8%8D%90%E8%B6%A3%E5%9B%A2%E4%BB%8A%E6%97%A5%E5%9B%A2%E8%B4%AD&rurl=http://www.geilibuy.com/tuan/deals/deals.php?t_c=i_20101214_a_684022&rcontent=%E6%8E%A8%E8%8D%90%E8%B6%A3%E5%9B%A2%E4%BB%8A%E6%97%A5%E5%9B%A2%E8%B4%AD%EF%BC%9A%E9%80%81%E5%AE%A2%E6%88%B7%2169%E5%85%83%21%E5%B8%82%E5%9C%BA%E4%BB%B7140%E5%85%83%E8%BD%A6%E8%BD%BD%E5%BA%94%E6%80%A5%E6%89%8B%E7%94%B5%21%E6%89%8B%E6%91%87%E7%85%A7%E6%98%8E%2F%E9%97%AA%E7%81%AF%E8%AD%A6%E7%A4%BA%2F%E6%95%B2%E7%8E%BB%E7%92%83%2F%E5%89%B2%E4%BF%9D%E9%99%A9%E5%B8%A6%2F%E7%A3%81%E5%90%B8%2F%E6%89%8B%E6%9C%BA%E5%85%85%E7%94%B5%EF%BC%8C%E4%B8%80%E4%BB%B6%E6%90%9E%E5%AE%9A%21" target="_blank">开心</a> <a class="sina" href="http://v.t.sina.com.cn/share/share.php?appkey=2926504205&url=http://www.geilibuy.com/tuan/deals/deals.php?t_c=i_20101214_a_684022&title=%E6%8E%A8%E8%8D%90%E8%B6%A3%E5%9B%A2%E4%BB%8A%E6%97%A5%E5%9B%A2%E8%B4%AD%EF%BC%9A%E9%80%81%E5%AE%A2%E6%88%B7%2169%E5%85%83%21%E5%B8%82%E5%9C%BA%E4%BB%B7140%E5%85%83%E8%BD%A6%E8%BD%BD%E5%BA%94%E6%80%A5%E6%89%8B%E7%94%B5%21%E6%89%8B%E6%91%87%E7%85%A7%E6%98%8E%2F%E9%97%AA%E7%81%AF%E8%AD%A6%E7%A4%BA%2F%E6%95%B2%E7%8E%BB%E7%92%83%2F%E5%89%B2%E4%BF%9D%E9%99%A9%E5%B8%A6%2F%E7%A3%81%E5%90%B8%2F%E6%89%8B%E6%9C%BA%E5%85%85%E7%94%B5%EF%BC%8C%E4%B8%80%E4%BB%B6%E6%90%9E%E5%AE%9A%21&source=%E8%B6%A3%E7%8E%A9%E7%BD%91&sourceUrl=http%3A%2F%2Fwww.geilibuy.com%2F&content=gb2312&pic=http://www.geilibuy.com/data/tuan/1292198290369753241-200.jpg" target="_blank">新浪微博</a> <a class="douban" href="http://www.douban.com/recommend/?url=http://www.geilibuy.com/tuan/deals/deals.php?t_c=i_20101214_a_684022&title=%E6%8E%A8%E8%8D%90%E8%B6%A3%E5%9B%A2%E4%BB%8A%E6%97%A5%E5%9B%A2%E8%B4%AD%EF%BC%9A%E9%80%81%E5%AE%A2%E6%88%B7%2169%E5%85%83%21%E5%B8%82%E5%9C%BA%E4%BB%B7140%E5%85%83%E8%BD%A6%E8%BD%BD%E5%BA%94%E6%80%A5%E6%89%8B%E7%94%B5%21%E6%89%8B%E6%91%87%E7%85%A7%E6%98%8E%2F%E9%97%AA%E7%81%AF%E8%AD%A6%E7%A4%BA%2F%E6%95%B2%E7%8E%BB%E7%92%83%2F%E5%89%B2%E4%BF%9D%E9%99%A9%E5%B8%A6%2F%E7%A3%81%E5%90%B8%2F%E6%89%8B%E6%9C%BA%E5%85%85%E7%94%B5%EF%BC%8C%E4%B8%80%E4%BB%B6%E6%90%9E%E5%AE%9A%21" target="_blank">豆瓣</a> <a class="shuoke" href="http://www.139.com/share/share.php?tl=953010001&source=shareto139_quwan&title=%E6%8E%A8%E8%8D%90%E8%B6%A3%E5%9B%A2%E4%BB%8A%E6%97%A5%E5%9B%A2%E8%B4%AD%EF%BC%9A%E9%80%81%E5%AE%A2%E6%88%B7%2169%E5%85%83%21%E5%B8%82%E5%9C%BA%E4%BB%B7140%E5%85%83%E8%BD%A6%E8%BD%BD%E5%BA%94%E6%80%A5%E6%89%8B%E7%94%B5%21%E6%89%8B%E6%91%87%E7%85%A7%E6%98%8E%2F%E9%97%AA%E7%81%AF%E8%AD%A6%E7%A4%BA%2F%E6%95%B2%E7%8E%BB%E7%92%83%2F%E5%89%B2%E4%BF%9D%E9%99%A9%E5%B8%A6%2F%E7%A3%81%E5%90%B8%2F%E6%89%8B%E6%9C%BA%E5%85%85%E7%94%B5%EF%BC%8C%E4%B8%80%E4%BB%B6%E6%90%9E%E5%AE%9A%21&url=http://www.geilibuy.com/tuan/deals/deals.php?t_c=i_20101214_a_684022" target="_blank">139说客</a>

        </li>
      </dd>
    </dl>
        <br />
    <br />
    <br />
    <br />
    <br />
  </div>

  </div>
<div id="right">
  <div class="zone">
    <h4>在哪里可以看到我的返利？</h4>
    <p>在<a href="http://www.geilibuy.com/tuan/account/invites" class="blue">我的邀请</a>可看到您的邀请和返利记录。返利金额不返现，可在下次团购时用于支付。</p>
    <h4>哪种情况会使邀请返利失效？</h4>
    <p>同一个手机号或送货地址多次使用时不返利，对自己邀请自己的作弊行为扣除一切返利。</p>

    <h4>购买所有团购商品都返利吗？</h4>
    <p>个别团购会注明不返利，也不计入好友的首次购买，好友下次购买可返利商品时您将获得5元返利。</p>
  </div>
</div>
		
	
<div class="clear"></div>     
</div>
