<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
<!--
.STYLE1 {font-size: 14px; font-family: Arial, Helvetica, sans-serif;}
.STYLE2 {font-size: 12;	color: #555555;	font-family: Arial, Helvetica, sans-serif;}
.STYLE3 {font-size: 12px;}
.STYLE5 {font-family: Arial, Helvetica, sans-serif}
-->
</style>
<table width="700" border="0" style="line-height:30px;">
  <tr>
    <td><img src="http://www.geilibuy.com/themes/default/imgs/mail/logo.gif" width="300" height="47" border="0" usemap="#Map" /></td>
  </tr>
  <tr>
    <td><hr width="700" size="1" color="#666666" align="center" noshade="noshade" /></td>
  </tr>
  <tr>
    <td height="70" class="STYLE1" style="font-size:14px;"><p class="STYLE1" style="font-size:14px;">尊敬的给力百货用户<a href="mailto:12121212">12121212</a>，您好：</p>
      <p class="STYLE1" style="font-size:14px;"><span style="height:auto; padding:26px; line-height:24px; color:#000;">您对商品<font style="font-weight:bold;">维康神奇负离子远红外自发热护颈</font>发表的咨询，已经得到了客服人员的回复，快去看看吧，<a href="http://www.geilibuy.com/user.php?act=login&back_act=user.php?act=comment_list" target="_blank">查看回复</a><br/><br/>给力百货客服中心</span><br /></p></td>
  </tr>
  <tr>
    <td align="center"><span style="border-top:1px solid #d0d0d0; padding-top:2px; color:#a1a1a1; font-size:12px; padding-bottom:26px;">(请勿直接回复此邮件)</span></td>
  </tr>
  <tr>
    <td><hr align="center" width="700" size="1" noshade="noshade" color="#666666" style="margin-bottom:5px;" /></td>
  </tr>
  <tr>
    <td align="left"><p align="" class="STYLE2 STYLE3" word-spacing="3px";>义乌给力电子商务有限公司<span style="text-align: center;margin-left:5px;margin-right:5px;">| </span><a href="http://www.geilibuy.com">www.geilibuy.com</a><span style="text-align: center;margin-left:5px;margin-right:5px;"> |</span> 反馈信箱：<a href="mailto:feedback@geilibuy.com">feedback@geilibuy.com</a><span style="text-align:center;margin-left:5px;margin-right:5px;"> |</span><span class="STYLE5"> 订购及咨询热线：400-88-16016</span></p></td>
  </tr>
</table>
<map name="Map" id="Map">
  <area shape="rect" coords="2,1,99,47" href="http://www.geilibuy.com/" target="_blank" title="给力百货" />
</map>
