<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

 <title></title><style type="text/css">
<!--
.STYLE1 {font-size: 14px}
-->
</style>
</head>

<body>
 <table border="0" cellspacing="0" cellpadding="0" width="750" align="center">
  
   <tr>
    <td colspan="3" height="54" align="center" bgcolor="#F9F8F4">
     <table border="0" cellspacing="0" cellpadding="0" width="100%">
      
       <tr>
        <td style="padding-left: 10px; text-align: left;" width="28%"><a href="http://newsletter.geilibuy.com/x/c/?S7Y1.J9ra2hs_r.I1tTc2NDU7H_GbUZJSYGVvn55ebleYWl5Yp5ecn6ufmZeSmqFXkFGgT1YLCczMS83NS.dNjcxM0ctMbfAOrEovczI1tDQ0FTXGCxQamtkaPk.xfbFtsXP_1Y_3zvx5bJpLxdufb_n53nTzqftu1.sn.20den7PY0AN97" target="_blank"><img src="http://www.geilibuy.com/themes/default/imgs/send_mail/logo_top.gif" border="0" alt="" width="191" height="38" /></a></td>

        <td style="padding-left: 10px; text-align: left;" width="22%"><a href="http://newsletter.geilibuy.com/x/c/?AVEArv9jPTH.bT0xMzX.cj01NzMxNTb.aD1odHRwOi8vd3d3LnF1d2FuLmNvbS9hcnRpY2xlLTE4Lmh0bWz.ZD3ngrnlh7vmn6XnnIvor6bmg4XvvIE799" target="_blank"><img src="http://www.geilibuy.com/themes/default/imgs/send_mail/30day.gif" border="0" alt="" width="144" height="38" /></a></td>

        <td style="padding-right: 10px; text-align: right;" width="50%" align="right"><font style="font-size: 9pt; color: #885e60;">如果您无法看到邮件完整内容，</font><a style="text-decoration: none;" href="http://newsletter.geilibuy.com/x/c/?S7Y1.J9ra2hs_r.I1tTc2NDU7H_GbUZJSYGVvn5eanlxTmpJSWqRXmFpeWKeXnJ_rn6Fvn2weaShnpdlUaJRRnF8kZ6nYUlIspGfS6iLo2OhscH.FFsXX5eczLxsBUMA741" target="_blank"><font style="font-size: 9pt; color: #0e0000; text-decoration: underline;">点此查看</font></a></td>
       </tr>
      
     </table>
    </td>
   </tr>

   <tr>
    <td colspan="3" height="32" align="left" valign="middle" bgcolor="#BD110C">
     <table border="0" cellspacing="0" cellpadding="0">
      
       <tr>
        <td style="padding-right: 10px; padding-left: 24px;" width="556" height="32" align="left" valign="middle" bgcolor="#BD110C">
         <table style="font-weight: bold; font-size: 14px; color: #fff; line-height: 16px; font-family: microsoft yahei; height: 15px;" border="0" cellspacing="0" cellpadding="0" width="100%">
          
           <tr>
            <td style="border-right: #fff 1px solid;" width="50" align="left" valign="middle"><a style="color: #fff; text-decoration: none;" href="http://newsletter.geilibuy.com/x/c/?S7Y1.J9ra2hs_r.I1tTc2NDU7H_GbUZJSYGVvn55ebleYWl5Yp5ecn7u.xRbF1_XnMy8bAUjAAF55" target="_blank">首页</a></td>

            <td style="border-right: #fff 1px solid;" width="70" align="center" valign="middle"><a style="color: #fff; text-decoration: none;" href="http://newsletter.geilibuy.com/x/c/?BcFbCoAgEADAq3QBtcXMCPbP3w4hm2Tko4chnd5mCKFFBKnajUpLUGPz6Es5ZyFqrfx6q02cchRki9vy.TE9DewhgB4YeZuSC9yXGNqKZjFhT0cnfwK35" target="_blank">家居</a></td>

            <td style="border-right: #fff 1px solid;" width="70" align="center" valign="middle"><a style="color: #fff; text-decoration: none;" href="http://newsletter.geilibuy.com/x/c/?BcFbCoAgEADAq3QBtc20CPav3w4hW2Tko8yQTm8zhFA9glQ1oRokKF0t2pyvSYhSCr.fYgKn6AWZvO0xfWzUmj0E0HaMrAlhc9xm7_qK8zK7I5xN.wMU84" target="_blank">装饰</a></td>

            <td style="border-right: #fff 1px solid;" width="70" align="center" valign="middle"><a style="color: #fff; text-decoration: none;" href="http://newsletter.geilibuy.com/x/c/?BcFbCoAgEADAq3QBtUXUCPbP3w4hm2Tko4chnd5mCKEnBKn6jcpIULoHDLWesxCtNX69zWVOJQly1W.l.tikDXsIYJSMgsvZRx5qin1Fu9i452NQPwE00" target="_blank">厨浴</a></td>

            <td style="border-right: #fff 1px solid;" width="70" align="center" valign="middle"><a style="color: #fff; text-decoration: none;" href="http://newsletter.geilibuy.com/x/c/?BcFBCoAgEADAr.QBtcUsCvbmtUfIFhmplW1Ir7cZQqgRQZua0QwaTF89euZrUqqUIu_3uCTpjIocr9uZPzHqQTwE0HaCvEtpDdJzDHVBO9uwp6PpfwQ48" target="_blank">办公</a></td>

            <td style="border-right: #fff 1px solid;" width="70" align="center" valign="middle"><a style="color: #fff; text-decoration: none;" href="http://newsletter.geilibuy.com/x/c/?BcFbCoAgEADAq3QBtSVMDPbP3w4hm2Tko8yQTm8zhNAjwiR7QakmkHP36Gu9FiFaa.x_m02cchRkq9tz_ZjWij0EMEpG3qbkAvc1hr6hWU040jmoHwR30" target="_blank">休闲</a></td>

            <td width="70" align="center" valign="middle"><a style="color: #fff; text-decoration: none;" href="http://newsletter.geilibuy.com/x/c/?BcFbCoAgEADAq3QBH0uoEexfvx1CNslI7bUhnd5mCKFlhN60G43rwdgWMTKfo1K1Vnm91RdJR1bkOazH.QnQ4MRDANoKir6UkGTknNqC0zylrezd8AMr61" target="_blank">潮流</a></td>
           </tr>
          
         </table>
        </td>

        <td style="padding-right: 10px; padding-left: 10px;" width="196" align="left" valign="middle" bgcolor="#BD110C">
         <table style="font-weight: bold; font-size: 14px; color: #fff; line-height: 20px; font-family: microsoft yahei; height: 20px;" border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#3E9F0E">
          
           <tr>
            <td style="border: #fff 1px solid;" width="47%" align="center" valign="middle"><a style="color: #fff; text-decoration: none;" href="http://newsletter.geilibuy.com/x/c/?AVsApP9jPTH.bT0xMzX.cj01NzMxNTb.aD1odHRwOi8vd3d3LnF1d2FuLmNvbS9wb2ludHMucGhw.2Q96Laj546p56ev5YiG5ZWG5Z_O77yM54K55Ye76L_b5YWl77yB189" target="_blank">积分商城</a></td>

            <td width="6%" align="center" valign="middle" bgcolor="#BD110C">&nbsp;</td>

            <td style="border: #fff 1px solid;" width="47%" align="center" valign="middle"><a style="color: #fff; text-decoration: none;" href="http://newsletter.geilibuy.com/x/c/?AVwAo.9jPTH.bT0xMzX.cj01NzMxNTb.aD1odHRwOi8vd3d3LnF1d2FuLmNvbS9sb3R0ZXJ5LnBocP9kPei2o_eOqeWFjei0ueaKveWllu_8jOeCueWHu_i.m_WFpe_8gQF60" target="_blank">免费抽奖</a></td>
           </tr>
          
         </table>
        </td>
       </tr>
      
     </table>
    </td>
   </tr><!----><!--BANNER--><!--图片-->

   <tr>
    <td style="padding-top: 0px;" align="left" valign="middle"><a href="http://newsletter.geilibuy.com/x/c/?LcpBCsMgEADAr.TUWzWr2JCWpZdc_4awpCVKdWODVsjnDUivw8wINSBoUzc0vQZzrRZtSvEmZSlFfHMhFvMa5G4zcXIi2vjYE6.4h0l10EF.phDvbXtHHN68YCDnG9O2.BQCgLnoBhkVDPWF43P0jj_n4QAk90" target="_blank"><img style="margin: 0px; padding: 0px;" src="http://www.geilibuy.com/images/upload/Image/201011/banner1(5).jpg" border="0" alt="" /></a></td>

    <td style="padding-top: 0px;" align="left" valign="middle">&nbsp;&nbsp;</td>

    <td style="padding-top: 0px;" align="left" valign="middle"><a target="_blank"><img style="margin: 0px; padding: 0px;" src="http://www.geilibuy.com/images/upload/Image/201011/banner2(5).jpg" border="0" alt="" /></a></td>
   </tr><!----><!----><!----><!--BANNER--><!--图片--><!----><!----><!----><!--BANNER--><!--图片-->

   <tr>
    <td style="padding-top: 0px;" colspan="3" align="left" valign="middle"><a target="_blank"><img style="margin: 0px; padding: 0px;" src="http://www.geilibuy.com/images/upload/Image/201011/%E9%97%B4%E9%9A%94%E6%9D%A12(2).jpg" border="0" alt="" /></a></td>
   </tr><!----><!----><!----><!--BANNER--><!--图片-->

   <tr>
    <td style="padding-top: 0px;" align="left" valign="middle"><a href="http://newsletter.geilibuy.com/x/c/?HclLDoMgEADQq3TVneA4oY02k27c9hATbYDIgB8sx6eJ2.cmgioEaOpO5olgHtWRy3kdtC6lqO0sHNWURNuU5qMBxLZXLkt4XxU8R.lGS8I_3FnWF_.21xEAmAYvOKmDvs40fsbg43KD9g8f92" target="_blank"><img style="margin: 0px; padding: 0px;" src="http://www.geilibuy.com/images/upload/Image/201011/banner3(5).jpg" border="0" alt="" /></a></td>

    <td style="padding-top: 0px;" align="left" valign="middle">&nbsp;&nbsp;</td>

    <td style="padding-top: 0px;" align="left" valign="top">
     <p class="STYLE1">父母的养育之恩，倾尽一生也不能报答万一，唯愿在冷冷寒冬中为二老送上一份温暖，代替我的双手呵护他们。</p>

     <p class="STYLE1">纳米科技，&ldquo;围&rdquo;护健康！促进血液循环，帮助新陈代谢。能缓解腰寒、胃寒、胃痛，不用电，自发热。</p>
    </td>
   </tr><!----><!----><!----><!--BANNER--><!--图片-->

   <tr>
    <td style="padding-top: 0px;" align="left" valign="middle"><a href="http://newsletter.geilibuy.com/x/c/?HclBDoMgEADAr.TkTXAltKXNphevPmKjBogsWIvyfJp4nZkQKiMoXXfUDwX6Xh26nLeXlKUU8T0KRTElljal_dca0z2Fyxw_1wRPkZdokcmHhnh7027PHgFAt_qCA3swdcZhHIKP6w3gDwO15" target="_blank"><img style="margin: 0px; padding: 0px;" src="http://www.geilibuy.com/images/upload/Image/201011/banner4(3).jpg" border="0" alt="" /></a></td>

    <td style="padding-top: 0px;" align="left" valign="middle">&nbsp;&nbsp;</td>

    <td style="padding-top: 0px;" align="left" valign="top">
     <p class="STYLE1">一日为师终生为父，没有恩师传道授业，难以成就今日之我。为恩师送上一份便利，聊表报答之心。</p>

     <p class="STYLE1">既是书架，也是相框，游弋在你的周围，床边、沙发边，书桌旁~~无论身在何处都能伴你左右方便阅读。</p>
    </td>
   </tr><!----><!----><!----><!--BANNER--><!--图片-->

   <tr>
    <td style="padding-top: 0px;" align="left" valign="middle"><a href="http://newsletter.geilibuy.com/x/c/?HcpBDoMgEEDRq7jqTshAaKtm0o1bDzHRBkgZUItyfNq4.e.PCJURtKk7mocGc68OXc5rL2UpRWxHoSjmxNKmtHzb5.8QLnN4XRI8RX5Hi0w_3IjXgXZ7KgQA0_orHKigqwuO0xh8.DSgfgM59" target="_blank"><img style="margin: 0px; padding: 0px;" src="http://www.geilibuy.com/images/upload/Image/201011/banner5(4).jpg" border="0" alt="" /></a></td>

    <td style="padding-top: 0px;" align="left" valign="middle">&nbsp;&nbsp;</td>

    <td style="padding-top: 0px;" align="left" valign="top">
     <p class="STYLE1">知心知己，相伴一生，君子之交，莫提钱财。送给TA一个印满钞票的钱包，告诉TA，在你心里TA是无价之宝。</p>

     <p class="STYLE1">采用杜邦公司新型材料Tyvek，手工制作，时尚轻巧，防水耐用不易损坏。新型材料设计提倡环保和动物保护，为生态平衡贡献力量的理念。</p>
    </td>
   </tr><!----><!----><!----><!--BANNER--><!--图片-->

   <tr>
    <td style="padding-top: 0px;" colspan="3" align="left" valign="middle"><a target="_blank"><img style="margin: 0px; padding: 0px;" src="http://www.geilibuy.com/images/upload/Image/201011/%E9%97%B4%E9%9A%94%E6%9D%A13(2).jpg" border="0" alt="" /></a></td>
   </tr><!----><!----><!----><!--商品-->

   <tr>
    <td style="padding-bottom: 20px; height: auto;" colspan="3" align="center">
     <table border="0" cellspacing="0" cellpadding="0" width="740">
      
       <tr>
        <td align="center"><a href="http://newsletter.geilibuy.com/x/c/?JcpBDsIgEEDRq7hyV8hABqNm4qbbHoK0BogMYKVyfBrr7uflzwSdCTT2lfCiAU335GstNylba_K9NZvEnFm6XLMovjx_QS7n5TOAMgaFrxzPlsv9mGOwiZ.JEdvwZ7u6ryIAwEEfsJGCa19onMYY0usEegcL08" target="_blank"><img src="http://www.geilibuy.com/images/201010/1288051653253213457-160.JPG" border="0" alt="多功能USB保暖手套-桃红小花" width="160" height="160" /></a></td><!---->

        <td align="center"><a href="http://newsletter.geilibuy.com/x/c/?JcpBDsIgEEDRq7hyV8iAYNRM3HTrISatASIDtFI5Psa6_3n5E0JnBG36iuaswdju0ddarlK21sSyNUpiyixdrlkUX_6.QJfz.B5AWQvCV45H4nLb5xgo8TM5ZAp.ptV9FAKAGfQOGyq49BnHxxhDeh3g9AUr23" target="_blank"><img src="http://www.geilibuy.com/images/201010/1288050207108380920-160.JPG" border="0" alt="多功能USB保暖手套-蓝底白花" width="160" height="160" /></a></td><!---->

        <td align="center"><a href="http://newsletter.geilibuy.com/x/c/?JcpBDsIgEEDRq7hyV3AgtFEzcdNtDzFpDRAZwErl_DTW3c.LnxEaI2jTVjSDBtM3h66UfJOy1ireW6Uo5sTSppJEdvnxC7QpLZ8OVD9chCsczsT5fszBU_RntMjk.0yr.SoEANPpAzZUcG0LjtMYfHydwOwT04" target="_blank"><img src="http://www.geilibuy.com/images/201010/1288053615022106764-160.JPG" border="0" alt="USB暖手饼干鼠标垫-黄色悠悠猴" width="160" height="160" /></a></td><!---->

        <td align="center"><a href="http://newsletter.geilibuy.com/x/c/?JcpBDoMgEEDRq3TVneBIsLHNpBu3HoJoA6QMgxbl_DS1u5_XPyNUQlC6bqhvCnRfHbqc013KUopY92KimJmk5cwiufT8BVrm5dMMqm2FyxSuhtLjfIM3kV7RIhn.Z7PZo0MA0I06YccOhrrgOI3Bx.cF_i8E55" target="_blank"><img src="http://www.geilibuy.com/images/201008/1282695123437396310-160.jpg" border="0" alt="神奇暖手袋-1片装" width="160" height="160" /></a></td><!---->
       </tr>

       <tr>
        <!---->

        <td width="25%" height="24" align="left" valign="top">
         <ul style="padding-right: 0px; padding-left: 10px; font-size: 12px; padding-bottom: 0px; margin: 5px 0px 0px; line-height: 20px; padding-top: 0px; list-style-type: none; text-align: left;">
          <li><a style="font-size: 12px; color: #000000; text-decoration: none;" href="http://newsletter.geilibuy.com/x/c/?JcpBDsIgEEDRq7hyV8hAoFEzcdOthyCtASLD0Erl_Bjr7uflzwidELTpG5pRg7E9YKi1XKVsrYl1by6LmUl6rixKKPdfoGde3gMoa40IldLZUbkdc4ou0zN7JBf.7Db.UQgAZtAH7Kjg0hecHlOK_XWC8QsY46" target="_blank">多功能USB保暖手套-桃红小花</a></li>

          <li><!----><font style="font-size: 12px; color: #cc2b21;">￥28.00元</font> <!----></li>
         </ul>
        </td><!---->

        <td width="25%" height="24" align="left" valign="top">
         <ul style="padding-right: 0px; padding-left: 10px; font-size: 12px; padding-bottom: 0px; margin: 5px 0px 0px; line-height: 20px; padding-top: 0px; list-style-type: none; text-align: left;">
          <li><a style="font-size: 12px; color: #000000; text-decoration: none;" href="http://newsletter.geilibuy.com/x/c/?JcpNDsIgEEDhq7hyV8hAwL9M3HTrIUhrgMgwtFI5Psa6e.nyJoROCNr0Fc1Jg7E9YKi1XKVsrYllay6LiUl6rixKKPdfoGee3wMoa0GESunoqNz2OUWX6Zk9kot.dqv.KAQAM_gdNlRw6TOOjzHF.DrA_QsN55" target="_blank">多功能USB保暖手套-蓝底白花</a></li>

          <li><!----><font style="font-size: 12px; color: #cc2b21;">￥28.00元</font> <!----></li>
         </ul>
        </td><!---->

        <td width="25%" height="24" align="left" valign="top">
         <ul style="padding-right: 0px; padding-left: 10px; font-size: 12px; padding-bottom: 0px; margin: 5px 0px 0px; line-height: 20px; padding-top: 0px; list-style-type: none; text-align: left;">
          <li><a style="font-size: 12px; color: #000000; text-decoration: none;" href="http://newsletter.geilibuy.com/x/c/?JcpBDsIgEEDRq7hyV3AgtKlm4qZbD0FaA0SGoZXK8THW3c.LnxEaIWjTNjSDBtM3j76UfJWy1irWvdokZibpuLDIPt9.gY55eXeg_uEifKF4tpRvxxyDTfRMDsmGP9vNfRQCgOn0ATsqGNuC02OKIb1OMH4Bg56" target="_blank">USB暖手饼干鼠标垫-黄色悠悠猴</a></li>

          <li><!----><font style="font-size: 12px; color: #cc2b21;">￥18.00元</font> <!----></li>
         </ul>
        </td><!---->

        <td width="25%" height="24" align="left" valign="top">
         <ul style="padding-right: 0px; padding-left: 10px; font-size: 12px; padding-bottom: 0px; margin: 5px 0px 0px; line-height: 20px; padding-top: 0px; list-style-type: none; text-align: left;">
          <li><a style="font-size: 12px; color: #000000; text-decoration: none;" href="http://newsletter.geilibuy.com/x/c/?JcpBDsIgEEDRq7hyV2AgaKqZuOnWQ5DWAJFhsFI5Psa6_3n5M0InBGP7ivZswJ56wFBruUjZWhOvrbksZibpubIoodx_gZ55eQ_jUUqESunoqFz3N0WX6ZE9kot.dqv.aAQAO5gdNtQw9gWn_5Rifh60_gIe09" target="_blank">神奇暖手袋-1片装</a></li>

          <li><!----><font style="font-size: 12px; color: #cc2b21;">￥1.90元</font> <!----></li>
         </ul>
        </td><!---->
       </tr>
      
     </table>
    </td>
   </tr><!----><!----><!--BANNER--><!--图片-->

   <tr>
    <td style="padding-top: 0px;" colspan="3" align="left" valign="middle"><a href="http://newsletter.geilibuy.com/x/c/?HcpBDsIgEADAr3jyVshC0KjZeOnVR2ywASK71hZK4ufR9DoZj9AZwbq_oDtbcKceMZYyX7VuralPbSTKv1l.YyUpSXviua4DhUmKioXzfT85kfAkAZlSPv7PjZawGQQAN9gdKhq49CeOjzEneR0M.AAC07" target="_blank"><img style="margin: 0px; padding: 0px;" src="http://www.geilibuy.com/images/upload/Image/201011/%E6%A0%A1%E5%9B%AD%E4%BB%A3%E7%90%86(2).jpg" border="0" alt="" /></a></td>
   </tr><!----><!----><!---->

   <tr>
    <td style="padding-bottom: 10px; height: auto;" colspan="3" align="center">
     <table style="border: #c00000 1px solid;" border="0" cellspacing="0" cellpadding="0" width="750">
      
       <tr>
        <td style="font-size: 12px; line-height: 20px; text-align: left; padding: 10px;"><font style="color: #c00000;">您会收到这封邮件的原因</font><br />
        您订阅该内容的收件地址是：frederick.mao@gmail.com<br />
        您之所以收到这封邮件，是因为您曾经注册成为给力百货的用户。我们保证仅向您发送关于给力百货的产品、促销优惠以及服务的电子邮件。给力百货尊重并保护您的隐私。<br />
        如果您不愿意继续接收来自给力百货的邮件，请<a href="http://newsletter.geilibuy.com/x/c/?BcG7DoIwFADQX3Fis_0tlkaTG0PSBRMYfAy6GKiNEKFCH8G.r_dohDQh5CI5FDIHUaQe_xDmA6XWrH40IRhHlri2lujvRH90HuN7sPQ4N_1kMFofO6.d0BnI6kqdK4UXeQdy2ruW9.7pSAXhqnmjbqosl5xlD9yCFJKxnWBFeqGq1TjYz4bzPw993" target="_blank">点击退订</a>。<br />
        商品价格或促销内容如有调整，以给力百货网站上的最终页面为准。<br />
        任何问题欢迎您致电或邮件联系给力百货客服中心：400-88-16016。如有问题也请访问帮助中心。</td>
       </tr>
      
     </table>
    </td>
   </tr><!--end 底部文字-->

   <tr>
    <td colspan="3" height="46" align="center" bgcolor="#897D67"><a href="http://newsletter.geilibuy.com/x/c/?HchBDoMgEADAr.TUWyELQdOajRevfcRGjZCyKxIt.h4T5zgjQmUE62pG11pwTfXo9z19tC6lqO0oJGpcWQeZ5lMln.r7YiDhWRZkCvFJnDrKy98gALiXveNAA_864fAdYpDfw9gLB00" target="_blank"><img src="http://www.geilibuy.com/images/upload/Image/logo_bottom(4).gif" border="0" alt="" width="169" height="23" /></a></td>
   </tr>
  
 </table>

<img src="http://newsletter.geilibuy.com/x/p/?S7Y1.J9ra2hs_r.I1tTc2NDU7H_SrQEAr93" style="width:1px;height:1px" alt="">
</body>
</html>