<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <meta http-equiv="content-type" content="text/html; charset=utf-8" />

 <title></title>
<style type="text/css">
<!--.STYLE1 {font-size: 14px; font-family: Arial, Helvetica, sans-serif; }body {	margin-left: 25px;	margin-top: 25px;}.STYLE2 {	font-size: 12;	color: #555555;	font-family: Arial, Helvetica, sans-serif;}a:link {	color: #cc6600;}a:visited {	color: #cc6600;}.STYLE3 {font-size: 12px;}.STYLE4 {color: #cc3333}.STYLE5 {font-family: Arial, Helvetica, sans-serif}--></style>
</head>

<body>


<table width="700" border="0">  <tr>    <td><img src="http://www.geilibuy.com/themes/default/imgs/mail/logo.gif" width="300" height="47" border="0" usemap="#Map" /></td>  </tr>  <tr>    <td><hr width=700 size=1 color=#666666 align=center noshade></td>  </tr>  <tr>    <td height="70" class="STYLE1"style="line-height:29px;"><p class="STYLE1">尊敬的用户frederick.mao@gmail.com，您好。</p>              <p class="STYLE1">您于2010-12-13提交了一条缺货登记信息，商品是<a href="http://www.geilibuy.com/goods-14362.html" target="_blank">迷你蘑菇USB三脚按摩器-蓝色</a>。抱歉让您久等，该商品现在已经到货，数量有限，喜欢就<a href="http://www.geilibuy.com/goods-14362.html" target="_blank">快去购买吧>></a>        。<br>      </p>      </td>  </tr>  <tr>    <td height="130" class="STYLE1">	<table width="701" height="20" border="0""; cellspacing="0" >      <tr>      </tr>      </table>    </td>  </tr>    <tr>        <td>给力百货<br/>2010-12-13</td>  </tr>  <tr>    <td><hr align=center width=700 size=1 noshade color="#666666" style="margin-bottom:5px;"></td>  </tr>  <tr>    <td align="left"><p align="" class="STYLE2 STYLE3" word-spacing="3px";>北京玩者天下网络技术有限公司<span style="text-align: center;margin-left:5px;margin-right:5px;">| </span><a href="http://www.geilibuy.com">www.geilibuy.com</a><span style="text-align: center;margin-left:5px;margin-right:5px;"> |</span> 反馈信箱：<a href="mailto:feedback@geilibuy.com">feedback@geilibuy.com</a><span style="text-align:center;margin-left:5px;margin-right:5px;"> |</span><span class="STYLE5"> 订购及咨询热线：400-88-16016</span></p>      </td
 >  </tr></table><map name="Map" id="Map"><area shape="rect" coords="2,1,99,47" href="http://www.geilibuy.com/" target="_blank" title="给力百货" /></map>

</body>
</html>
