<%content_for :headmeta do%>
<meta name="Generator" content="给力百货 geilibuy.com " />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache"/>
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/>
<meta http-equiv="expires" content=""/>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<meta name="pagename" content="tuan" />
<meta http-equiv="refresh" content="5;URL=/tuan" />

<%end%>
<%content_for :headtitle do%>
<title>注册 - 给力团 创意百货天天团 - 给力百货</title>
<%end%>
<% content_for :headstyle do %>
<!--style>
html {filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5; opacity: 0.5;}
html {filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);}
</style-->
<link href="/themes/default/css/tuan_public.css" rel="stylesheet" type="text/css" />
<link href="/themes/default/css/tuan_reglogin.css" rel="stylesheet" type="text/css" />
<%end%>
<%content_for :headjs do%>
<script type="text/javascript" src="/themes/default/js/quwan.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/global.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/tuan.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/hotkeys.js" charset="UTF-8"></script>
<script type="text/javascript" src="/themes/default/js/tuan_divpop.js" charset="UTF-8"></script>
<%end%>
<div class="navtip"></div>

<div id="main">
				<div id="left">
    
    <div class="zone">      
      <dl class="reg_succ">
        <dt><img src="/themes/default/imgs/tuan/ok_bg.gif" width="58" height="40" />恭喜您，注册成功！</dt>
        <dd>此账号可同时用于登录给力团和<a class="blue" href="http://www.geilibuy.com/" target="_blank">给力百货</a>。
                给力团的优惠信息将每天及时发送到您的邮箱。
                </dd>
        <dd><span>5 秒后自动跳转...，或者立即去<a class="red" href="http://www.geilibuy.com/tuan/" target="_blank">给力团首页</a></span></dd>
      </dl>
    </div>
  </div>   
  <div id="right">          
    </div>
    </div>					
<div class="clear"></div>     
</div>
